#scoresLink {
    float: left;
    padding-left: 1rem;
    color: black;
    font-size: larger;
}

#displayedTimer {
    float: right;
    padding-right: 1rem;
    padding-top: 0rem;
    font-size: larger;
}

.container {
    object-position: center;
    padding-top: 8rem;
    padding-left: 15rem;
    text-align: center;
    box-sizing: border-box;
    border-style: dotted;
    border-color: darkgray;
    padding: 3rem;
}

button {
    background-color: rgb(173, 171, 171);
    color: black;
    display: inline-block;
    border: solid;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
}

.hide {
    display: none;
}
